.about-page {
  max-width: 600px;
}

.about-hero-section {
  height: 200px;
  background-color: rgba(13, 110, 253, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.h1 {
  font-family: var(--mav-fam);
  font-size: 32px;
}

.h2,
.h5,
.p {
  color: #605e7e;
  font-family: var(--quickstand-fam);
}

.h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

.p {
  font-size: 18px;
  margin-bottom: 20px;
}

.h5 {
  font-size: 14px;
  margin-bottom: 10px;
}

.li {
  font-size: 14px;
  font-weight: 300px;
  font-family: var(--quickstand-fam);
}

.about-part-two {
  padding: 50px 10px;
  background-color: #edf7fb;
}

.about-part-three {
  padding: 50px 10px;
  text-align: center;
}

.icon-con {
  background-color: #edf7fb;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.about-part-four {
  background-color: #0d6efd;
  padding: 50px 10px;
  text-align: center;
}

.about-part-four .h5,
.about-part-four .h2 {
  color: white;
}

.about-part-four .h2,
.about-part-seven .h2 {
  line-height: 2.7rem;
}

.about-part-four button {
  background-color: #dc3545;
  color: white;
  border-radius: 100px;
  font-size: 13px;
  border: none;
  height: 45px;
  margin-top: 20px;
  font-family: var(--mav-fam);
}

.about-part-five {
  padding: 50px 15px;
  background-color: #edf7fb;
  text-align: center;
}

.about-part-five .grid {
  margin-top: 40px;
}

.about-part-five .grid > div {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-size: 20px;
}

.about-part-six {
  padding: 50px 10px;
  text-align: center;
}

.about-part-six .icon-con {
  background-color: white;
  border: 1px solid #0d6efd;
  color: #0d6efd;
  height: 65px;
  width: 65px;
}

.about-part-seven {
  padding: 50px 15px;
  text-align: center;
  background-color: #edf7fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-page-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  height: 45px;
  background-color: white;
  border: none;
  width: 70%;
  outline: none;
  color: #605e7e;
  padding-left: 20px;
  font-size: 20px;
}

.form-btn {
  background-color: #0d6efd;
  height: 45px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  font-family: var(--mav-fam);
}

@media (min-width: 500px) {
  .about-page {
    max-width: 100%;
  }

  .about-part-two,
  .about-part-three,
  .about-part-five,
  .about-part-six {
    padding: 50px 100px;
  }

  .about-part-three .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .about-part-five .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .about-part-five .grid > div {
    margin-bottom: 0px;
  }

  .about-part-six .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-part-seven {
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px;
  }

  .about-part-seven > div {
    width: 50%;
  }

  .about-page-form {
    width: 50%;
  }
}
