section {
  padding: 4em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 1rem;
}

.job_categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: 130px 130px;

  grid-gap: 1rem;
}

.job_type__icon {
  --size: 150px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border-radius: 999px;
}

.section__bottom > button {
  margin: 0 auto;
  margin-top: 2em;
  /* align-self: center; */
}

.testimony_card {
  width: 100%;
  padding: 1em 7em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
