@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Maven Pro", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --primary-8: rgba(105, 99, 255, 0.8);
  --primary-9: rgba(105, 99, 255, 0.9);
  --mav-fam: "Maven Pro", sans-serif;
  --quickstand-fam: "Quicksand", sans-serif;
  color-scheme: light dark;
  background-color: #f6f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  font-family: var(--mav-fam);
}

li,
a {
  text-decoration: none;
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #605e7e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(
    120deg,
    var(--primary-9) 0%,
    var(--primary-8) 100%
  );
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.section--white {
  background-color: #fff;
}

.section__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.section__bottom {
  margin-bottom: 1em;
}

.row {
  display: flex;
  gap: 10px;
}
.column {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  /* border: 1px solid #000; */
  margin-bottom: 1em;
}
.grid--small {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1em;
}
.job_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 1rem;
}
@media screen and (max-width: 500px) {
  .job_grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.horizontal_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.horizontal_line > div {
  border-top: 1px solid #e8ebf3;
}

.newsletter_sect {
}

.subscribe_form {
  display: flex;
}

.subscribe_form :is(input, button) {
  padding: 1em;
  border: none;
}

.subscribe_form input {
  border-radius: 5px 0 0 5px;
}
.subscribe_form button {
  border-radius: 0 5px 5px 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
